<footer class="footer">
  <div class="footer__inner">

    <div class="footer-container">

      <div class="footer-col brand-col">
        <div class="footer-logo-box">
          <img src="../../../assets/Logo.png" alt="OldSchoolTed" class="footer-logo">
          <span class="footer-brand">OldSchoolTed</span>
        </div>

        <p class="footer-phrase">
          Sumérgete en la pasión retro
        </p>

        <div class="footer-schedule">
          <h4>Horario de atención</h4>
          <p>
            <span class="footer-strong">Lunes - Domingo</span><br>24/7
          </p>
        </div>
      </div>

      <!-- Columna 2: Enlaces -->
      <div class="footer-col">
        <h3>Enlaces</h3>
        <ul>
          <li><a routerLink="/home">Inicio</a></li>
          <li><a routerLink="/products">Camisetas</a></li>
          <li><a routerLink="/my-orders">Mis pedidos</a></li>
          <li><a routerLink="/contact">Contacto</a></li>
        </ul>
      </div>

      <!-- Columna 3: Contacto -->
      <div class="footer-col">
        <h3>Contactos</h3>
        <p>Av. Huancavelica 123<br>Huancayo  Perú</p>
        <p>+51 999 999 999</p>
        <p>oldschoolted@gmail.com</p>
      </div>

      <!-- Columna 4: Redes -->
      <div class="footer-col">
        <h3>Nuestras<br><span class="footer-strong">Redes Sociales</span></h3>
        <div class="footer-social">
          <a href="#" aria-label="Facebook"><i class="bi bi-facebook"></i></a>
          <a href="#" aria-label="X"><i class="bi bi-twitter-x"></i></a>
          <a href="#" aria-label="Instagram"><i class="bi bi-instagram"></i></a>
        </div>
      </div>

    </div> 

    <div class="footer-bottom">
      <span>© 2025 OldSchoolTed. Todos los derechos reservados.</span>
    </div>

  </div> 
</footer>